<div class="home-guarantee">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <p class="home-guarantee-heading">Only On Storelli.com</p>

                <div id="guarantee-carousel" class="carousel dark-carousel slide">
                    <div class="row carousel-inner">
                        <div class="col-12 col-sm-6 col-md-4 carousel-item active">
                            <i class="icon-guarantee icon-shipping no-svg-inline-block"></i>
                            {% include 'icon-guarantee-shipping'  %}
                            <h5 class="text-uppercase mt-2">Free Shipping + Exchanges</h5>
                            <p>All domestic order $75+ and<br />international flat rates</p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 carousel-item active">
                            <i class="icon-guarantee icon-returns no-svg-inline-block"></i>
                            {% include 'icon-guarantee-returns-30'  %}
                            <h5 class="text-uppercase mt-2">30-Day Returns</h5>
                            <p>Free US exchanges<br />and flat rate returns</p>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 carousel-item active">
                            <i class="icon-guarantee icon-amazon no-svg-inline-block"></i>
                            {% include 'icon-chat-quote'  %}
                            <h5 class="text-uppercase mt-2">Questions?</h5>
                          <p>Email us: <a href="mailto:support@storellisports.com"> support@storellisports.com</a> <br/> M-F 9AM - 6PM (EST)</p>
                        </div>
                    </div>
                    {% comment %}
                    <a class="carousel-control-prev" href="#guarantee-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#guarantee-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                    {% endcomment %}
                </div>

            </div>
        </div>

    </div>
</div>
