<div class="bm-container page-width ">
  <h1>{{ section.settings.title }}</h1>

  {% for accordion in section.blocks %}
    <button class="accordion">{{ accordion.settings.title }}</button>
    <div class="accordion-content">
      <p>
        {{ accordion.settings.content }}
      </p>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Simple Accordions",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title"
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "Accordion",
      "settings": [
        {
          "type": "text",
          "label": "Accordion Title",
          "id": "title"
        },
        {
          "type": "textarea",
          "label": "Accordion Content",
          "id": "content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Simple Accordions",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
    /* body {
  	background-color: #6DC4F4;
  }h1 {
       color:white;

  } */

  .container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
  }

  button.accordion {
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s linear;
  }



  button.accordion:hover,
  button.accordion.is-open {
    background-color: #ddd;
  }

  .accordion-content {
    background-color: white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }

  html body .accordion-content.is-open{
   max-height:fit-content;
  }
{% endstylesheet %}

<script>
    function remove(){
      var accontent=document.querySelectorAll('.accordion-content')
         accontent.forEach(function(el){
         el.classList.remove('is-open')
  })
    }

    var acc=document.querySelectorAll('.accordion')
      acc.forEach(function(el){
        el.addEventListener('click',function() {
      remove()
      el.nextElementSibling.classList.add('is-open')
        })
      })
</script>
