<div class="container">
  <h1>{{ section.settings.title }}</h1>

  {% for accordion in section.blocks %}
    <button class="accordion">{{ accordion.settings.title }}</button>
    <div class="accordion-content">
      <p>
        {{ accordion.settings.content }}
      </p>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Simple Accordions",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title"
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "Accordion",
      "settings": [
        {
          "type": "text",
          "label": "Accordion Title",
          "id": "title"
        },
        {
          "type": "textarea",
          "label": "Accordion Content",
          "id": "content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Simple Accordions",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
