<div class="container">
  <h1>{{ settings.title }}</h1>

  {% for accordion in section.settings.accordions %}
    <div class="accordion-content">
      <p>
        {{ accordion.content }}
      </p>
    </div>
  {% endfor %}
</div>
{% schema %}
{
  "name": "Simple Accordions",
  "settings": [],
  "blocks": [
    {
      "type": "accordion",
      "name": "Accordion",
      "settings": [
        {
          "type": "text",
          "label": "Accordion Title",
          "id": "title"
        },
        {
          "type": "richtext",
          "label": "Accordion Content",
          "id": "content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Simple Accordions",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
