<!-- In your Shopify Liquid section file -->
<section class="image-text-section">
  <div class="container">
    <div class="image-block">
    <img src="{{ section.settings.image-url | img_url }}" alt="{{ section.settings.image_alt }}">
    </div>
    <div class="text-block">
      <h2>{{ section.settings.title }}</h2>
      <p>{{ section.settings.description }}</p>
    </div>
  </div>
</section>

<!-- Add the following code to your theme.liquid file or any other appropriate file -->
{% schema %}
{
  "name": "Image Text Section",
  "settings": [
     {
      "type": "image_picker",
      "id": "image-url",
      "label": "Image"
      
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Section Title"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Section Description"
    }
  ],  "presets":[
        {
          "name":"bm-heroner"
        }
      ]  
}
{% endschema %}

<!-- Add the following CSS to your theme's stylesheet or within a style tag -->
<style>
  .image-text-section {
    /* Add styling for the section container */
  }
  
  .container {
    display: flex;
    align-items: center;
    /* Add any additional styling for the container */
  }
  
  .image-block {
    flex: 1;
    /* Add any styling for the image block */
  }
  
  .text-block {
    flex: 1;
    /* Add any styling for the text block */
  }
</style>
