<section class="container">
  <h1>Simple Accordions</h1>

  {% comment %} First Accordion {% endcomment %}
  <button class="accordion">Website Design and Development</button>
  <div class="accordion-content">
    <p>Whether</p>
  </div>

  {% comment %} Second Accordion {% endcomment %}
  <button class="accordion">Website Analytics and Performance</button>
  <div class="accordion-content">
    <p>We believe</p>
  </div>

  {% comment %} Third Accordion {% endcomment %}
  <button class="accordion">Digital Marketing</button>
  <div class="accordion-content">
    <p>We</p>
  </div>
</section>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
