<div class="slick-slider">
  {% for slide in section.blocks %}
    <div class="slick-slide">
      <h2 class="bm-title">{{ section.settings.MainTitle }}</h2>
      <img src="{{ slide.settings.image_url }}" alt="{{ slide.settings.image_alt }}">
    </div>
  {% endfor %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    $('.slick-slider').slick();
  });
</script>

{% schema %}
{
  "name": "Slick Slider",
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "url",
          "label": "Image URL",
          "id": "image_url"
        },
         {
      "type": "text",
      "label": "Main Title",
      "id": "MainTitle"
    },
        {
          "type": "text",
          "label": "Image Alt Text",
          "id": "image_alt"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slick Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<script>
  {% section 'slick-slider' %}
</script>
