
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>



  <div class="hero">
    <div class="hero-inner">
      <h1>Echo Hydrogen water</h1>
      <div class="hero-content">
        <div class="text-block">
          <h2>Welcome to Echo Hydrogen Water</h2>
          <p>Welcome to a world where health, healing, and hydration harmoniously blend to create a symphony of well-being</p>
          <div class="button-block">
            <button>Shop Now</button>
            <button>See video</button>
          </div>
        </div>
      </div>
    <div class="swiper">
  <!-- Additional required wrapper -->
 <div class="swiper-wrapper">
    <div class="slide" data-id="1" img-src="https://i.ibb.co/sWggswL/Echo-H2-Machine-1.png"><img src="https://i.ibb.co/sWggswL/Echo-H2-Machine-1.png" alt="Image 1"></div>
    <div class="slide" data-id="2" img-src="https://i.ibb.co/h7tRGP6/image-373.png"><img src="https://i.ibb.co/h7tRGP6/image-373.png" alt="Image 2"></div>
    <div class="slide" data-id="3" img-src="https://i.ibb.co/Q6xbg0p/Echo-h2-Server-1.png"><img src="https://i.ibb.co/Q6xbg0p/Echo-h2-Server-1.png" alt="Image 3"></div>
    <div class="slide" data-id="4" img-src="https://i.ibb.co/sWggswL/Echo-H2-Machine-1.png"><img src="https://i.ibb.co/sWggswL/Echo-H2-Machine-1.png" alt="Image 4"></div>
    <div class="slide" data-id="5" img-src="https://i.ibb.co/sWggswL/Echo-H2-Machine-1.png"><img src="https://i.ibb.co/sWggswL/Echo-H2-Machine-1.png" alt="Image 5"></div>
    <div class="slide" data-id="6" img-src="https://i.ibb.co/sWggswL/Echo-H2-Machine-1.png"><img src="https://i.ibb.co/sWggswL/Echo-H2-Machine-1.png" alt="Image 6"></div>
    <div class="slide" data-id="7" img-src="https://i.ibb.co/sWggswL/Echo-H2-Machine-1.png"><img src="https://i.ibb.co/sWggswL/Echo-H2-Machine-1.png" alt="Image 7"></div>
  </div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
    
      </div>
      <div class="image-block"></div>
    </div>
  </div>



{% schema %}
  {
    "name": "New Section",
    "settings": [],
      "presets": [
    {
      "name": "New Section",
      "category": "Custom"
    }
  ]
  }
{% endschema %}


{% style %}

  .hero{
    max-width:1200px;
    margin:0 auto;
  }

  .hero-inner{      
      background: #D6EFFF;
      /* filter: blur(86.75799560546875px); */
    border-radius: 16px;
    padding:60px;
    position:relative;
  }

  .hero-inner .hero-content{
    max-width:546px;
  }

  .slide{
    min-width:110px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    border: 2px solid #E3F4FF;
    background: linear-gradient(113deg, #FFF 3.51%, #FFF 111.71%);
  }

  .product-slider-inner{
    max-width:400px;
    overflow:hidden;
    display:flex;
    gap: 21px;
    padding: 20px;
    
  }

  .image-block{
    height:400px;
    width:300px;
    background-size:contains;
    background-position:center;
    background-repeat:no-repeat;

    position:absolute;
    top:0;
    right:200px;
    z-index:9;
  }


  /* .product-slider ::-webkit-scrollbar{
    width:100%;
    height:8px;
    color:red;
    border-radius:8px;
  } */
  
  
{% endstyle %}  




{% javascript %}








  function live(selector, event, callback, context) {
    /****Helper Functions****/
    // helper for enabling IE 8 event bindings
    function addEvent(el, type, handler) {
      if (el.attachEvent) el.attachEvent('on' + type, handler);
      else el.addEventListener(type, handler);
    }
    // live binding helper using matchesSelector
    function live(selector, event, callback, context) {
      addEvent(context || document, event, (e) => {
        let found,
          el = e.target || e.srcElement;
        while (el && el.matches && el !== context && !(found = el.matches(selector))) el = el.parentElement;
        if (found) callback.call(el, e);
      });
    }
    live(selector, event, callback, context);
  }


live('.slide', 'click', function () {
   var descId = this.getAttribute("img-src");
   console.log(descId)
   document.querySelector('.image-block').style.backgroundImage = `url('${descId}')`;



});



  const swiper = new Swiper('.swiper', {
  // Optional parameters
   slidesPerView: 2,
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});

  
{% endjavascript %}