<div class="wrapper">
  <header>
    <div class="headline">
      <h1>{{ section.settings.title }}</h1>
    </div>
    <ul id="slides">
      <li class="slide slide1 showing"></li>
      <li class="slide slide2"></li>
      <li class="slide slide3"></li>
    </ul>
  </header>
</div>

{% schema %}
{
  "name": "Bm Slider",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title"
    }
  ],
  "presets": [
    {
      "name": "BM Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
