{{ "sliderslickcss.css" | asset_url | stylesheet_tag }}


<div class="slick-slider">
{% if section.settings.element-1 !=blank %}
  <div class="element element-1">{{ section.settings.element-1 }}</div>
{% endif %}
  <div class="element element-2">2</div>
  <div class="element element-3">3</div>
  <div class="element element-4">4</div>
  <div class="element element-5">4</div>
  <div class="element element-6">6</div>
  <div class="element element-7">7</div>
  <div class="element element-8">8</div>
  <div class="element element-9">9</div>
  <div class="element element-10">10</div>
</div><div class="slick-slider">
  <div class="element element-1">1</div>
  <div class="element element-2">2</div>
  <div class="element element-3">3</div>
  <div class="element element-4">4</div>
  <div class="element element-5">4</div>
  <div class="element element-6">6</div>
  <div class="element element-7">7</div>
  <div class="element element-8">8</div>
  <div class="element element-9">9</div>
  <div class="element element-10">10</div>
</div>

{% schema %}
  {
    "name": "slick slider",
    "tag":"div",
     "class":"slick-slider",
    "settings": [
    {
      "type": "text",
      "id": "element-1",
      "label": "Slide1"    
    }
    ],
      "presets":[
        {
          "name":"BM REVIEW"
        }
      ]  
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
// Get the slider element
var slider = document.querySelector(".slick-slider");

// Set the initial configuration
var config = {
  slidesToShow: 3,
  infinite: false,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000
};

// Initialize the slider
var slickSlider = new SlickSlider(slider, config);

// SlickSlider constructor
function SlickSlider(element, config) {
  var slides = element.getElementsByClassName("slick-slide");
  var currentSlide = 0;

  // Show the specified number of slides
  for (var i = 0; i < slides.length; i++) {
    if (i < config.slidesToShow) {
      slides[i].style.display = "block";
    } else {
      slides[i].style.display = "none";
    }
  }

  // Auto-play the slider
  setInterval(function () {
    if (currentSlide < slides.length - config.slidesToShow) {
      slides[currentSlide].style.display = "none";
      slides[currentSlide + config.slidesToShow].style.display = "block";
      currentSlide++;
    } else {
      // Reset to the first slide
      for (var i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      currentSlide = 0;
      for (var j = 0; j < config.slidesToShow; j++) {
        slides[j].style.display = "block";
      }
    }
  }, config.autoplaySpeed);
}


{% endjavascript %}