{{ "sliderslickcss.css" | asset_url | stylesheet_tag }}



   <div class="bm-sleep_supoort">
  <div class="bm-container-md ">
    <div class="bm-row-main">
      <div class=" bm-rightsleep-support">
        <div class="swiperslider-sleep-support">
          <!-- Slider main wrapper -->
          <div class="swiper-container-wrapper">
            <!-- Slider main container -->
            <div class="swiper swiper_main">
              <div class="swiper-wrapper">
              <div class="swiper-slide"><img
              src="https://trtltravel.com/cdn/shop/products/TPOSLEEPING_69cf0c63-c67d-41db-9fe3-d1acfb07aec6_620x.jpg?v=1675342145"
              alt=""></div>
            <div class="swiper-slide"><img
              src="https://trtltravel.com/cdn/shop/products/TPO_GREY_LINDA_SLEEP_620x.jpg?v=1677083776" alt="">
            </div>
            <div class="swiper-slide"><img
              src="https://cdn.shopify.com/s/files/1/0071/0911/6022/files/TPC_SLEEPING_7b01210e-64ca-4e77-905b-bcf04359116d_300x@2x.jpg?v=1671452020"
              alt=""></div>
            <div class="swiper-slide"><img
              src="https://cdn.shopify.com/s/files/1/0071/0911/6022/files/TPC_SLEEPING_7b01210e-64ca-4e77-905b-bcf04359116d_300x@2x.jpg?v=1671452020"
              alt=""></div>
            <div class="swiper-slide"><img
              src="https://trtltravel.com/cdn/shop/products/DSC03092_c6ff24bf-caed-484c-9265-404bb3796ebe_620x.jpg?v=1677083776"
              alt=""></div>
            <div class="swiper-slide"><img
              src="https://trtltravel.com/cdn/shop/products/DSC03092_c6ff24bf-caed-484c-9265-404bb3796ebe_620x.jpg?v=1677083776"
              alt=""></div>
            
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
          </div>
          
          <div class="swiper swiper_thumbnail">
              <div class="swiper-wrapper">
              <div class="swiper-slide"><img
              src="https://trtltravel.com/cdn/shop/products/TPOSLEEPING_69cf0c63-c67d-41db-9fe3-d1acfb07aec6_150x150_crop_center.jpg?v=1675342145"
              alt=""></div>
          <div class="swiper-slide"><img
              src="https://trtltravel.com/cdn/shop/products/TPO_GREY_LINDA_SLEEP_150x150_crop_center.jpg?v=1677083776"
              alt=""></div>
          <div class="swiper-slide"><img
              src="https://cdn.shopify.com/s/files/1/0071/0911/6022/files/TPC_SLEEPING_7b01210e-64ca-4e77-905b-bcf04359116d_300x@2x.jpg?v=1671452020"
              alt=""></div>
          <div class="swiper-slide"><img
              src="https://cdn.shopify.com/s/files/1/0071/0911/6022/files/TPC_SLEEPING_7b01210e-64ca-4e77-905b-bcf04359116d_300x@2x.jpg?v=1671452020"
              alt=""></div>
          <div class="swiper-slide"><img
              src="https://trtltravel.com/cdn/shop/products/DSC03092_c6ff24bf-caed-484c-9265-404bb3796ebe_150x150_crop_center.jpg?v=1677083776"
              alt=""></div>
          <div class="swiper-slide"><img
              src="https://trtltravel.com/cdn/shop/products/DSC03092_c6ff24bf-caed-484c-9265-404bb3796ebe_150x150_crop_center.jpg?v=1677083776"
              alt=""></div>
              </div>
          </div>
          </div>
        </div>
        </div>
        <div class=" bm-leftsleep-support">
          <div class="bm-block">
            <p class="text-muted">TRTL TRAVEL PILLOW</p>
            <h3 class="text-dark">THE SLEEP SUPPORT AND COMFORT YOU NEED WHILE TRAVELING</h3>
            <div></div>
            <div class="bm-row ">
              <div class="bm-col">
                <div>
                  <div id="image-wrapper-25722627358913-cbb7c" class="image-wrapper overflow-hidden ">
                    <picture class="d-block">
                      <img
                        data-src="//cdn.shopify.com/s/files/1/0071/0911/6022/files/pod-1_722f141f-4596-48fe-b7f8-58f5253b9374_small.png?v=1670412987"
                        data-srcset="//cdn.shopify.com/s/files/1/0071/0911/6022/files/pod-1_722f141f-4596-48fe-b7f8-58f5253b9374_small.png?v=1670412987 1x, //cdn.shopify.com/s/files/1/0071/0911/6022/files/pod-1_722f141f-4596-48fe-b7f8-58f5253b9374.png?v=1670412987 2x"
                        loading="lazy" class="img-fluid lazyload loaded" alt=""
                        src="//cdn.shopify.com/s/files/1/0071/0911/6022/files/pod-1_722f141f-4596-48fe-b7f8-58f5253b9374_small.png?v=1670412987"
                        srcset="//cdn.shopify.com/s/files/1/0071/0911/6022/files/pod-1_722f141f-4596-48fe-b7f8-58f5253b9374_small.png?v=1670412987 1x, //cdn.shopify.com/s/files/1/0071/0911/6022/files/pod-1_722f141f-4596-48fe-b7f8-58f5253b9374.png?v=1670412987 2x">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="bm-col text-col">
                <h5 class="text-dark fw-bold">HYPOALLERGENIC FABRIC</h5>
                <div class="font-ibm-mono">Machine washable supersoft, hypoallergenic fleece and foam is
                  stretched to create a comforting hammock effect.</div>
              </div>
            </div>
            <div class="bm-row ">
              <div class="bm-col">
                <div>
                  <div id="image-wrapper-25722623164609-cbb7c" class="image-wrapper overflow-hidden ">
                    <picture class="d-block">
                      <img
                        data-src="//cdn.shopify.com/s/files/1/0071/0911/6022/files/neck_support_black_small.png?v=1670412880"
                        data-srcset="//cdn.shopify.com/s/files/1/0071/0911/6022/files/neck_support_black_small.png?v=1670412880 1x, //cdn.shopify.com/s/files/1/0071/0911/6022/files/neck_support_black.png?v=1670412880 2x"
                        loading="lazy" class="img-fluid lazyload loaded" alt=""
                        src="//cdn.shopify.com/s/files/1/0071/0911/6022/files/neck_support_black_small.png?v=1670412880"
                        srcset="//cdn.shopify.com/s/files/1/0071/0911/6022/files/neck_support_black_small.png?v=1670412880 1x, //cdn.shopify.com/s/files/1/0071/0911/6022/files/neck_support_black.png?v=1670412880 2x">
                    </picture>
                  </div>
                </div>
              </div>
              <div class="bm-col text-col">
                <h5 class="text-dark fw-bold">INTERNAL SUPPORT STRUCTURE</h5>
                <div class="font-ibm-mono">The internal support system provides premium comfort while you nap,
                  keeping your head and neck in an ergonomic position.</div>
              </div>
            </div>
            <div class="bm-row bm-cta-row">
              <div class="btn slep-supportbtn"> <a>WATCH how it works</a></div>
            </div>
            <div class="ytplayeroverlay"></div>
            <div class="ytplayer-content">
              <div class="yt-player-inner-content">
                <div class="ytplayer-cross-icon">✕</div>
                <iframe src="https://www.youtube.com/embed/8Fmtcsy08X8" title="How to use your Trtl Pillow"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen></iframe>
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




{% schema %}
  {
    "name": "slick slider",
    "tag":"div",
     "class":"slick-slider",
    "settings": [
    {
      "type": "text",
      "id": "element-1",
      "label": "Slide1"    
    }
    ],
      "presets":[
        {
          "name":"BM REVIEW"
        }
      ]  
  }
{% endschema %}

{% stylesheet %}

.bm-sleep_supoort {
  background: linear-gradient(177.21deg, #dddddd 2.32%, #a3adbb 97.68%);
  padding: 50px 0;
  /* padding-bottom: 0; */
}
.swiperslider-sleep-support {
  max-width: 550px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.bm-leftsleep-support .bm-col > div {
  width: 64px;
}
.bm-sleep_supoort .bm-container-md .font-ibm-mono {
  width: auto;
}
.bm-sleep_supoort .swiper-button-next::after,
.bm-sleep_supoort .swiper-button-prev::after {
  display: none;
}
.bm-sleep_supoort .swiper-button-next,
.bm-sleep_supoort .swiper-button-prev {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  height: 36px;
  width: 36px;
  transform: translateY(-50%);
}
.bm-sleep_supoort .swiper-button-next {
  right: 28px;
}
.bm-sleep_supoort .swiper-button-prev {
  left: 28px;
  transform: rotate(180deg);
}
.bm-sleep_supoort .swiper-pagination-sleepsupoort {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 10px;
  z-index: 1;
  justify-content: center;
}
.bm-sleep_supoort .bm-container-md > .bm-row {
  display: flex;
}
.bm-sleep_supoort .bm-row-main {
  display: flex;
}
.bm-sleep_supoort .bm-container-md .text-dark {
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}
.bm-leftsleep-support .bm-row {
  display: flex;
}
.bm-leftsleep-support .bm-row .text-dark {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #000000;
}
.bm-leftsleep-support .bm-block > .text-dark,
.bm-sleep_supoort .bm-block .bm-row {
  margin-bottom: 32px;
  max-width: 560px;
}
.bm-leftsleep-support .font-ibm-mono {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
.bm-leftsleep-support .text-col {
  padding-left: 24px;
}
/* .bm-sleep_supoort p.text-muted{
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #000000 !important;
  opacity: 0.5;
} */
.bm-sleep_supoort .swiper-pagination-sleepsupoort span {
  height: 4px;
  width: 95px;
  border-radius: 4px;
}
.bm-sleep_supoort .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}
.slep-supportbtn a {
  padding: 12px 48px;
  border: 1px solid #06070c;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  margin-top: 10px;
  color: #000000;
  text-transform: uppercase;
}
.slep-supportbtn a:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #06070c;
}
/* yt player popup css start */
.bm-sleep_supoort .ytplayeroverlay,
.bm-sleep_supoort .ytplayer-content {
  display: none;
}
.show-ytplayer-popup .bm-sleep_supoort .ytplayeroverlay,
.show-ytplayer-popup .bm-sleep_supoort .ytplayer-content {
  display: block;
}
.bm-sleep_supoort .ytplayeroverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 90;
}
.bm-sleep_supoort .ytplayer-content {
  padding: 0px;
  background: #fff;
  border-radius: 5px;
  width: 1011px;
  height: 569px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.bm-sleep_supoort .ytplayer-content iframe {
  width: 1011px;
  height: 569px;
}
.yt-player-inner-content {
  position: relative;
}
.ytplayer-cross-icon {
  position: absolute;
  right: -10px;
  top: -10px;
  height: 36px;
  width: 36px;
  background: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}
div.slep-supportbtn {
  padding: 0 15px;
  text-align: left;
}
@media only screen and (max-width: 991px) {
  .bm-sleep_supoort .bm-container-md > .bm-row {
    flex-direction: column;
  }
  .bm-sleep_supoort .bm-row-main > div {
    flex: 0 0 auto;
    width: 100%;
  }
  .bm-sleep_supoort .slep-supportbtn {
    display: none;
  }
  .bm-sleep_supoort .bm-row-main {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .bm-sleep_supoort .bm-container-md .text-dark {
    font-size: 22px;
    line-height: 26px;
  }
  .bm-leftsleep-support .bm-row .text-dark {
    font-size: 18px;
    line-height: 22px;
  }
  .bm-leftsleep-support .bm-block {
    padding-top: 16px;
  }
  .bm-leftsleep-support .bm-cta-row {
    display: none;
  }
}
@media (min-width: 992px) {
  .bm-sleep_supoort .bm-row-main > div {
    flex: 0 0 auto;
    width: 50%;
  }
}
/* thumbnil slider  */
/* 
.bm-rightsleep-support .thumbnail-slider{
  width: 20%;
  padding: 0;
} */
html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 480px) {
  .swiper-container {
    min-height: 320px;
  }
}
.swiper-container-wrapper {
  display: flex;
  flex-direction: column !important;
}
@media (min-width: 480px) {
  .swiper-container-wrapper {
    flex-flow: row nowrap;
  }
}
.swiper-button-next,
.swiper-button-prev {
  color: #000;
}
.swiper-slide {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  /* Center slide text vertically */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* Slide content */
}
.swiper-slide .description,
.swiper-slide .title {
  display: block;
  opacity: 0;
  transition: 0.5s ease 0.5s;
}
.swiper-slide-active .description,
.swiper-slide-active .title {
  opacity: 1;
}
.swiper-slide-active .title {
  margin-bottom: 0.5rem;
  font-size: 24px;
  color: #000;
  transition: opacity 0.5s ease 0.5s;
}
.swiper-slide-active .description {
  font-size: 16px;
  color: #777;
  transition: opacity 0.5s ease 0.75s;
}
.gallery-top {
  position: relative;
  width: 100%;
  height: 75vh;
}
@media (min-width: 480px) {
  .gallery-top {
    width: 80%;
    height: 100vh;
    margin-right: 10px;
  }
}
.gallery-thumbs {
  width: 100%;
  height: 25vh;
  padding-top: 10px;
}
@media (min-width: 480px) {
  .gallery-thumbs {
    width: 20%;
    height: 100vh;
    padding: 0;
  }
}
.gallery-thumbs .swiper-wrapper {
  flex-direction: row;
}
@media (min-width: 480px) {
  .gallery-thumbs .swiper-wrapper {
    flex-direction: column;
  }
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  flex-flow: row nowrap;
  height: 100%;
  opacity: 0.75;
  cursor: pointer;
}
@media (min-width: 480px) {
  .gallery-thumbs .swiper-slide {
    flex-flow: column nowrap;
    width: 100%;
  }
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.swiper {
  width: 100%;
}
.swiper img {
  width: 100%;
}
.swiper_thumbnail .swiper-slide {
  cursor: pointer;
}
.swiper_thumbnail .swiper-slide-thumb-active {
  outline: 2px solid #000;
  outline-offset: -2px;
}
.swiper_thumbnail img {
  vertical-align: bottom;
}
  
{% endstylesheet %}

{% javascript %}
(function () {
  try {
    /* main variables */
    var debug = 1;
    var variation_name = "test123";
    /* helper library */
    var _$;
    !(function (factory) {
      _$ = factory();
    })(function () {
      var bm = function (s) {
        if (typeof s === "string") {
          this.value = Array.prototype.slice.call(document.querySelectorAll(s));
        }
        if (typeof s === "object") {
          this.value = [s];
        }
      };
      bm.prototype = {
        eq: function (n) {
          this.value = [this.value[n]];
          return this;
        },
        each: function (fn) {
          [].forEach.call(this.value, fn);
          return this;
        },
        log: function () {
          var items = [];
          for (let index = 0; index < arguments.length; index++) {
            items.push(arguments[index]);
          }
          console && console.log(variation_name, items);
        },
        waitForElement: function (
          selector,
          trigger,
          delayInterval,
          delayTimeout
        ) {
          var interval = setInterval(function () {
            if (_$(selector).value.length) {
              clearInterval(interval);
              trigger();
            }
          }, delayInterval);
          setTimeout(function () {
            clearInterval(interval);
          }, delayTimeout);
        },
      };
      return function (selector) {
        return new bm(selector);
      };
    });
    function live(selector, event, callback, context) {
      /****Helper Functions****/
      // helper for enabling IE 8 event bindings
      function addEvent(el, type, handler) {
        if (el.attachEvent) el.attachEvent("on" + type, handler);
        else el.addEventListener(type, handler);
      }
      // live binding helper using matchesSelector
      function live(selector, event, callback, context) {
        addEvent(context || document, event, (e) => {
          let found,
            el = e.target || e.srcElement;
          while (
            el &&
            el.matches &&
            el !== context &&
            !(found = el.matches(selector))
          )
            el = el.parentElement;
          if (found) callback.call(el, e);
        });
      }
      live(selector, event, callback, context);
    }
    function waitForjQuery(trigger) {
      var interval = setInterval(function () {
        if (window.jQuery !== undefined) {
          clearInterval(interval);
          trigger(window.jQuery);
        }
      }, 50);
      setTimeout(function () {
        clearInterval(interval);
      }, 15000);
    }
    function onwaitforswiper(trigger) {
      var interval = setInterval(function () {
        if (typeof Swiper != "undefined") {
          clearInterval(interval);
          trigger();
        }
      }, 50);
      setTimeout(function () {
        clearInterval(interval);
      }, 15000);
    }
    //add swiper slider script
    function addScript() {
      var bmScript = document.createElement("script");
      bmScript.src = "https://unpkg.com/swiper@7/swiper-bundle.min.js";
      document.getElementsByTagName("head")[0].appendChild(bmScript);
      // var bmcsslink = document.createElement("link");
      // bmcsslink.rel = "stylesheet";
      // bmcsslink.href =
      //   "https://unpkg.com/swiper@7/swiper-bundle.min.css";
      // document.getElementsByTagName("head")[0].appendChild(bmcsslink);
    }
    addScript();
    var helper = _$();
  
    function swiperslider() {
      var swiper_thumbnail = new Swiper(".swiper_thumbnail", {
        slidesPerView: 6,
      });
      var swiper = new Swiper(".swiper_main", {
        loop: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        thumbs: {
          swiper: swiper_thumbnail,
        },
      });
    }
    /* Variation Init */
    function init() {
      helper.log("Log inside from init");
    
    live(".slep-supportbtn a", "click", function () {
      console.log("click");
      document.querySelector("body") &&
        document.querySelector("body").classList.add("show-ytplayer-popup");
    });
    //ytplayeroverlay
    live(".ytplayeroverlay, .ytplayer-cross-icon", "click", function () {
      console.log("click");
      document.querySelector("body") &&
        document.querySelector("body").classList.remove("show-ytplayer-popup");
    });
    /* Initialise variation */
    waitForjQuery(function () {
      helper.waitForElement('[id*="__partners"]', init, 50, 15000);
    });
  } catch (e) {
    if (debug) console.log(e, "error in Test" + variation_name);
  }
})();


{% endjavascript %}