<div class="wrapper">
  <header>
    <div class="headline">
      <h1>{{ section.settings.title }}</h1>
    </div>
    <ul id="slides">
      {% for slide in section.blocks %}
        <li class="slide {{ slide.settings.slide_class }}"></li>
      {% endfor %}
    </ul>
  </header>
</div>

{% schema %}
{
  "name": "Header Slider",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "text",
          "label": "Slide Class",
          "id": "slide_class"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
