 <div class="bm-knot-hero-tabs">
    <div class="bm-knot-inner-tabs">    
      <div class="bm-tabs">
        <div class="bm-step">
          <span>1</span>
          <div class="tab-content-wrapper">
            <div class="left-content">
              <p>Choose desired height and massage tip to target the muscle you want to massage.</p>
            </div>
            <div class="right-content">
              <img src="" alt="">
            </div>
          </div>
        </div>
        <div class="bm-step">
          <span>1</span>
          <div class="tab-content-wrapper">
            <div class="left-content">
              <p>Choose desired height and massage tip to target the muscle you want to massage.</p>
            </div>
            <div class="right-content">
              <img src="" alt="">
            </div>
          </div>
        </div>
        <div class="bm-step">
          <span>1</span>
          <div class="tab-content-wrapper">
            <div class="left-content">
              <p>Choose desired height and massage tip to target the muscle you want to massage.</p>
            </div>
            <div class="right-content">
              <img src="" alt="">
            </div>
          </div>
        </div>
        <div class="bm-step">
          <span>1</span>
          <div class="tab-content-wrapper">
            <div class="left-content">
              <p>Choose desired height and massage tip to target the muscle you want to massage.</p>
            </div>
            <div class="right-content">
              <img src="" alt="">
            </div>
          </div>
        </div>
      </div>

      


    </div>
  </div>




{% schema %}
{
  "name": "BM Knot Tabs",
  "settings": [  
    {
      "type": "text",
      "id": "productFeatures",
      "label": "Product Features",
      "info": "Enter each feature on a new line"
    }
  ],
  "presets": [
    {
      "name": "bm-knot TABS",
      "category": "Custom"
    }
  ]
}
{% endschema %}



  