<!-- In your Shopify Liquid section file -->
<div class="bm-knot-hero-tabs">
  <div class="bm-knot-inner-tabs">
    <div class="bm-tabs">
      {% for block in section.blocks %}
        {% if block.type == "step" %}
          <div class="bm-step">
            <span>{{ block.settings.position }}</span>
            <div class="tab-content-wrapper">
              <div class="left-content">
                <p>{{ block.settings.description }}</p>
              </div>
              <div class="right-content">
                <img src="{{ block.settings.image-url | img_url: '568x383'  }}" alt="{{ block.settings.image_alt }}">
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "BM Knot Hero Tabs",
  "tag": "section",
  "class": "bm-knot-hero-tabs",
  "settings": [],
  "blocks": [
    {
      "type": "step",
      "name": "Step",
      "settings": [
        {
          "type": "text",
          "id": "position",
          "label": "Position"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "image-url",
          "label": "Image URL"
        },
        {
          "type": "text",
          "id": "image_alt",
          "label": "Image Alt Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "bm-knot-hero-tabs",
      "category": "Custom"
    }
  ]
}
{% endschema %}



{% javascript %}



  console.log('kjbjjk ')
  
function removeClass() {
 var remove=document.querySelectorAll('.bm-step span')
    remove.forEach(function (el) {
        el.parentElement.classList.remove('active') 
})
}
 

var checkActive=document.querySelectorAll('.bm-step span')
   checkActive.forEach(function (el) {
        el.addEventListener('click',function () {
      removeClass()
        el.parentElement.classList.add('active')
           
   })
})

  
{% endjavascript %}




