
{% if product.metafields.about.about_the_brand %}

<div class="about_the_brand_snippet">
  <div class="about_brand__container wrapper wrapper--mediumish">
    <div class="about_content">
    <h2 class="about_brand__title">About The Brand</h2>
    {{ product.metafields.about.about_the_brand }}
    </div>
  </div>
</div>

{% endif %}



