<div class="engagement-form-wrapper">
  
  <div class="wrapper page-wrapper">  
      <h2>Share The Love</h2>
      <p>To submit your story, please fill out the form below. Once received we will send you your 15% off promo code for your next purchase.</p>
    
    <!-- Begin Mailchimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
      We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
      <form action="https://shop-confete.us19.list-manage.com/subscribe/post?u=cfc6c0006577a90bd12c487e7&amp;id=7c94b22b31" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">         
          
          <div class="mc-field-group label">
            <label for="mce-BRIDEFNAME">Bride's name  <span class="asterisk">*</span> </label>            
          </div>
          
          <div class="mc-field-group input">
          <div class="mc-field-group">
            <input type="text" value="" placeholder="FIRST NAME" name="BRIDEFNAME" class="required" id="mce-BRIDEFNAME">
          </div>
          
          <div class="mc-field-group">            
            <input type="text" value="" placeholder="LAST NAME" name="BLNAME" class="" id="mce-BLNAME">
          </div>
            
          </div>
          
          <div class="mc-field-group label">
            <label for="mce-GROOMFNAME">Groom's name  <span class="asterisk">*</span></label>
            
          </div>
          
          <div class="mc-field-group input">
          <div class="mc-field-group">
            <input type="text" value="" placeholder="FIRST NAME" name="GROOMFNAME" class="required" id="mce-GROOMFNAME">
            
          </div>          
          
          <div class="mc-field-group">            
            <input type="text" value="" placeholder="LAST NAME" name="GLNAME" class="" id="mce-GLNAME">
          </div>
            
          </div>
          <div class="mc-field-group">
            <label for="mce-MMERGE7">Where was the proposal?  <span class="asterisk">*</span>
            </label>
            <input type="text" value="" name="MMERGE7" class="required" id="mce-MMERGE7">
          </div>
          <div class="mc-field-group size1of2">
            <label for="mce-MMERGE8-month">When was the proposal?  <span class="asterisk">*</span>
            </label>
            <div class="datefield">
              <span class="subfield monthfield"><input class="datepart required" type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="MMERGE8[month]" id="mce-MMERGE8-month"></span> 
              <span class="subfield dayfield"><input class="datepart required" type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="MMERGE8[day]" id="mce-MMERGE8-day"></span> 
              <span class="subfield yearfield"><input class="datepart required" type="text" pattern="[0-9]*" value="" placeholder="YYYY" size="4" maxlength="4" name="MMERGE8[year]" id="mce-MMERGE8-year"></span>
              
            </div>
          </div>
          <div class="mc-field-group">
            <label for="mce-MMERGE9">How did your partner pop the question?  <span class="asterisk">*</span><span class="char">(limit 255 characters)</span>
            </label>
            <textarea maxlength="1000" placeholder="ANSWER" type="text" value="" name="MMERGE9" class="required" id="mce-MMERGE9"></textarea>
          </div>
          <div class="mc-field-group">
            <label for="mce-MMERGE10">What are some specific details that you remember about the day?  <span class="asterisk">*</span><span class="char">(limit 255 characters)</span>
            </label>
            <textarea maxlength="1000" placeholder="ANSWER" type="text" value="" name="MMERGE10" class="required" id="mce-MMERGE10"></textarea>
          </div>
          <div class="mc-field-group">
            <label for="mce-MMERGE11">Tell us about the ring. What does it look like?  <span class="asterisk">*</span><span class="char">(limit 255 characters)</span>
            </label>
            <textarea maxlength="1000"placeholder="ANSWER" type="text" value="" name="MMERGE11" class="required" id="mce-MMERGE11"></textarea>
          </div>
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
            <input type="email" placeholder="EMAIL ADDRESS" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
            <label for="mce-MMERGE3">What is your instagram name? </label>
            <input type="text" placeholder="INSTAGRAM"  value="" name="MMERGE3" class="" id="mce-MMERGE3">
          </div>
          <div class="mc-field-group input-group">
            <h2>Share your engagement photo</h2>
            <ul><li><input type="checkbox" value="1" name="group[7649][1]" id="mce-group[7649]-7649-0"><label for="mce-group[7649]-7649-0">I have permission from the photographer to use these images</label></li>
            </ul>
          </div>
          <div class="mc-field-group">
            <label for="mce-MMERGE4">URL of Photo</label>
            <input type="url" value="" name="MMERGE4" class=" url" id="mce-MMERGE4">
          </div>
          <div class="mc-field-group">
            <label for="mce-MMERGE12">Who Is The Photographer?</label>
            <input type="text" value="" name="MMERGE12" class="" id="mce-MMERGE12">
          </div>
          <div class="mc-field-group input-group">
            <h2>Share a photo of your ring</h2>
            <ul><li><input type="checkbox" value="2" name="group[7653][2]" id="mce-group[7653]-7653-0"><label for="mce-group[7653]-7653-0">I have permission from the photographer to use these images</label></li>
            </ul>
          </div>
          <div class="mc-field-group">
            <label for="mce-MMERGE13">URL of Photo</label>
            <input type="url" value="" name="MMERGE13" class=" url" id="mce-MMERGE13">
          </div>
          
          
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cfc6c0006577a90bd12c487e7_7c94b22b31" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="submit your story" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='BRIDEFNAME';ftypes[1]='text';fnames[2]='BLNAME';ftypes[2]='text';fnames[5]='GROOMFNAME';ftypes[5]='text';fnames[6]='GLNAME';ftypes[6]='text';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='MMERGE8';ftypes[8]='date';fnames[9]='MMERGE9';ftypes[9]='text';fnames[10]='MMERGE10';ftypes[10]='text';fnames[11]='MMERGE11';ftypes[11]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->
    
  </div>
</div>