<div class="s-search">
  <button type="submit" class="btn a" id="{{id}}">
    {% render 'icon-search' %}
    {% render 'search-icon' %}
    <span>{{ 'general.search.submit' | t }}</span>
  </button>
</div>