<div class="bridal_suit_page">
   {% include 'breadcrumbs' %}
{% section 'bridal-banner' %}

{% section 'bridal-suite' %}
{%  section 'bride_collection_list' %}
{% section 'bridal_collection_round_images' %}
{% section 'bridal_featured-collection' %}
{% section 'collection-btns' %}
 {% section 'bridal-suite-image-section' %}
</div>