<div class="page-our-story">

  {% section 'hero-page' %}

  {% section 'rich-text-and-images' %}

  {% section 'image-with-text-square' %}

  {% section 'obsessing' %}

  {% section 'get-inspired' %}

  {% section 'faq' %}

  {% section 'contact-form' %}
  
  {% section 'emails' %}

</div>