{% layout false %}

{% assign all_articles = blog.articles %}
{% paginate blog.articles by 12 %}
    {% for article in blog.articles %}
        {% unless forloop.first %}
            {% include 'article-card'  %}
        {% endunless %}
    {% endfor %}

    {% assign orhpan_ix = paginate.current_page | times: paginate.page_size  %}
    {% assign article = all_articles[orhpan_ix]  %}
    {% include 'article-card'  %}

    {% if paginate.next %}
        <div class="col-12 text-center load-more-parent">
            <a class="load-more load-more-articles btn btn-outline-dark btn-storelli btn-storelli-outline" href="{{ paginate.next.url }}">
                Load More Stories
            </a>
        </div>
    {% endif %}

{% endpaginate %}
