<div class="section-lg light-section page test-klaviyo" style="background: #000;">
	<div class="container-fluid">
	    <div class="row">
	        <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
	           
	            <div class="rte">
	                {{ page.content }}
	            </div>
	        </div>
	    </div>
	</div>
</div>