<div class="section-lg light-section page giveaway">
	<div class="container-fluid">
	    <div class="row">
	        <div class="col-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
	            <h1 class="h2" style="text-align:center;">{{ page.title }}</h1>
	            <hr style="text-align:center;width:100%">
	            <div class="container-fluid email-form" style="display:flex;justify-content:center;">
                  
                  <div class="klaviyo-form-WBJqUP" style="padding-bottom:50px;"></div>
                  
                </div>
                <hr style="text-align:center;width:100%;padding-bottom:10px;">
              <div class="rte giveaway-content" style="text-align:center;">
                  
	                {{ page.content }}
	            </div>
	        </div>
	    </div>
	</div>
</div>