{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}

<section class="featured-collection">

  <div class="featured-collection__container wrapper">
    {% if section.settings.title != blank %}
      <h2 class="h1 featured-collection__title">{{ section.settings.title | escape }}</h2>
    {% endif %}
 <div class="featured-collection-des">
 {% if section.settings.collection_desc != blank %}
    {{section.settings.collection_desc}}
    {% endif %}
    </div>
    {%- assign collection = collections[section.settings.collection] -%}

    <div class="featured-collection__grid">

    {% for product in collection.products limit: 4 %}
      <div class="container">   
     
        {% render 'product-preview' with product as product %}

      </div>
    {% endfor %}
    </div>

    {% render 'btn-primary' with {
      url: collection.url,
      text: 'Shop All'
    } %}

  </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },{
      "type": "richtext",
      "id": "collection_desc",
      "label": "Description"
    },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
